.backgroundLogin {
  position: absolute;
  backdrop-filter: blur(5px);
  height:100%;
  width: 100%;
}

.loginBoxContainer {
  position: absolute;
  display: inline-block;
  top:25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  display:inline-flex;
  background-color: #e0e0e0;
  text-align: center;
  overflow: hidden;
  border: 1px solid black
}

.loginHeader {
  padding-top: 10%;
  width: 100%;
  height:20%
}

.loginYes {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  bottom:0%;
  text-align: center;
}

.loginPageButton {
  position: relative;
}

.loginNo {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  bottom:0%;
  right: 0%;
  text-align: center;
}

.accForm {
  position: absolute;
  display: inline-block;
  bottom:0%;
  width: 100%;
  height: 70%;
  text-align: center;
}

.loginForm {
  height: 67%;
}

.registerForm {
  height: 74%;
}

.lessPadding {
  padding-top: 2%;
  width: 100%;
  height:10%;
}