.locImage {
  display: block;
  position: relative;
  top: 0px;
  width: 100%;
  height: 45%;
}

.infoContainer {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.titleContainer {
  width: 50%;
  display:inline-block;
  position: relative;
}

.ratingsContainer {
  width: 50%;
  display:inline-block;
  position: relative;
  text-align: right;
}

.reviewPageText {
  font-size: 1.25vw;
}

.comment {
    text-align:center;

  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.commentText {
  width: 30vw;
  height:20vh;
	margin-top: 1vh;
	margin-left: 1vw;
	margin-right: 1vw;
	line-height:10px;
}

.backButton {
  position: absolute;
	top: 10px;
	left: 10px;
    background-color: black;
    color:white;
}

.backButton {
  position: absolute;
	top: 10px;
	left: 10px;
    background-color: black;
    color:white;
}

.backButton:hover {
  cursor: pointer
}

#commentHeader {
  margin-left: 10px
}

#submitButton {
  position: relative;
}
