
.tagContainer {
  position: relative;
  display:inline-block;
  height: 30px;
  background-color: darkgrey;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.tagName {
  top:6px;
  position: relative;
  z-index: 1;
}
.filled {
  position: absolute;
  top: 0px;
  z-index: 0;
  height: 100%;
  background-color: grey;
}