/* Top-level shared styles */
/* You can keep styles that are shared by different components here */
@import url("//fonts.googleapis.com/css?family=Raleway");

html {
  height: 100%;
}

body {
  color: black;
  background-color: #e0e0e0;;
  font-family: "Raleway", Helvetica, sans-serif;
}

.fullMap {
  width: 100%;
  height: 100%;
}

.sideMap {
  width: 65%;
  height: 100%;
  float: right;
}

.sidePage {
  width: 35%;
  height: 100%;
  float: left;
}

.searchButton {
  z-index: 1;
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 20px;
}
